body{
    margin: 0;
    padding: 0;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    display: grid;
    grid-template: auto 4fr / 1fr 4fr;
    margin: 0;
    height: 100vh;
}

/* Header */
.header{
    background-color: white;
    grid-column: 2;
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

.search-bar{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.search-bar input{
    flex: 1;
}

.search-bar img{
    height: 2rem;
}

.s-button{
    border-radius: 15px;
    border: none;
    background-color: #e2e8f0;
    
}

.profile{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile img{
    height: 2rem;
    border-radius: 50%;
    
}

.yugi{
    background-color: rgb(149, 95, 199);
}

.intro{
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    gap: 0.5rem 1rem;
}

.intro img{
    grid-row: 1 / 3;
    height: 5rem;
    width: 5rem;
    justify-self: end;
    align-self: center;
    border-radius: 50%;
    background-color: rgb(149, 95, 199);
}

.intro p{
    font-size: large;
    font-weight: bolder;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.headerBtn{
    border-radius: 15px;
    background-color: rgb(149, 95, 199);
    cursor: pointer;
    color: white;
    border: none;
    width: 6rem;
    height: 2rem;
    font-weight: bold;
}


/* Sidebar */
.dashboard{
    background-color: rgb(149, 95, 199);
    grid-area: 1 / 1 / -1 / 2;
    grid-template-rows: auto auto 1fr;
}

.dashboard .logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-left: 1rem;
}

.dashboard .logo img{
    height: 3rem;
}

.dashboard ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-links img{
    height: 2rem;
}

.support-links img{
    height: 2rem;
}

.dashboard p{
    font-weight: bold;
    cursor: pointer;
}

.dashboard p:hover{
    font-size: 20px;
    transition: 0.2s;
}


/* Main Content*/
.content{
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem 2rem;
    gap: 1rem;
    box-shadow: inset 0 5px 5px rgb(197, 197, 197);
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto 1fr 1fr;
    
    gap: 2rem 1rem;
}

.projects h3{
    grid-column: 1 / -1;
    margin-bottom: -1.5rem;
}

.project{
    display: grid;
    grid-template: 1fr auto / 1rem 1fr;
    background-color: white;
    height: 300px;
    border-radius: 5%;
}

.project:hover{
    box-shadow: 0 0 3px 1px black;
    transition: 0.3s;
    transform: scale(1.01);
}

.project .color-block{
    grid-row: 1 / -1;
    border-radius: 20px 0 0 20px;
    width: 75%;
    background-color: deeppink;
}

.project .text h4{
    margin: 0;
}

.project .text{
    padding: 1rem 1rem 0;
}

.project .actions{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
}

.actions img{
    height: 2rem;
}

/*Announcement/Trend Bar*/
.announce-trend{
    display: grid;
    gap: 1rem;
}

.announce{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.announce-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    padding: 1rem 2rem;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
}

.announce-content p{
    font-size: 12px;
}

.announ-border{
    width: 100%;
    height: 1px;
    background-color: black;
}

.trending{
    display: flex;
    flex-direction: column;
}



.trend-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 20px;
}

.trend{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trend img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.trend p{
    display: flex;
    flex-direction: column;
}

.trend p .handle{
    font-weight: bolder;
}



